.bottom-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #283618;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 4px;
}

.nav-item.active {
    color: #fefae0;
    /* Active tab highlight (yellowish) */
}

.nav-item:hover {
    border-radius: 10px;
    padding-top: 5px;
    transition: 0.3s;
}